---
import { Icon } from 'astro-icon/components'
import { profile } from '../const'
---

<div class="mt-14 mb-0 grid place-content-center">
  <div
    class="relative flex h-32 w-32 items-center justify-center rounded-full bg-transparent"
  >
    <img
      src={profile.avatar}
      alt={profile.name}
      class="bg-background z-10 h-24 w-24 rounded-full object-cover"
    />
  </div>
</div>

<div class="mb-6 grid place-content-center gap-3 px-2 text-center">
  <h1 class="flex items-center justify-center text-center text-3xl font-bold">
    {profile.name}
  </h1>

  <p
    class="text-foreground/80 mx-auto line-clamp-none max-w-[320px] text-base sm:line-clamp-2 dark:text-gray-400"
  >
    {profile.bio}
  </p>

  <div class="mt-2 flex justify-center gap-4">
    {
      profile.socials.map((social) => (
        <a
          href={social.url}
          target="_blank"
          class="text-foreground/80 hover:text-primary transition-colors duration-200"
          aria-label={social.title}
        >
          {social.icon && <Icon name={social.icon} class="h-6 w-6" />}
          {social.iconSvg && <div class="h-6 w-6" set:html={social.iconSvg} />}
        </a>
      ))
    }
  </div>
</div>
